@mixin borderRadius {
    border-radius: 5px;
}

@mixin headerFix {
    color: yellow;
    background-color: green;
}

button{
    @include borderRadius()
}

h1{
    @include headerFix()
}

h2{
    @include headerFix()
}

h3{
    @include headerFix()
}

.header h1{
    text-align: center;
}
.header h2{
    text-align: center;
}
.header h3{
    text-align: center;
}

.lister li{
    color: blue;
}

.buttons button{
    border-radius: 30em;
}